/* Palet Color Vars */
:root {
    --White: #f0f8ff;
    --Main: #f21b46;
    --Red: #bf0046;
    --Shadow: #002040;
    --Black: #000
}

body {
    background: linear-gradient(var(--Black), var(--Shadow));
    color: var(--White);
    font-family: FirstTimeWriting;
    height: 100vh
}

p {
    text-transform: capitalize;
    overflow: auto;
    overflow-wrap: break-word;
    margin-block: 1em;
    margin-block: 1lh;
    text-overflow: ellipsis;
}