---
import Layout from '../layouts/Layout.astro';
---

<Layout title="|| 404 Error" description="Or You Are And Bad Writter Or Your Friend / Mon / GrandMother Are And Bad Writter">
	<h1>404 Error</h1>
</Layout>