---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/footer.astro';
---

<Layout title="🪿">
	<h1>SuperBenjaBros</h1>
	<Footer />
</Layout>

<style>
	@import url("/themes/flux.css");
</style>