---
import Layout from "../layouts/Layout.astro";
---

<html data-theme="isis">
<Layout title="Example">
	<footer>
		<p>©️ SuperBenjaBros 2025 - Todos Los Derechos Reservados</p>
	</footer>
</Layout>
</html>