---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<title>SuperBenjaBros {Astro.props.title}</title>

		<meta name="author" content="SuperBenjaBros" />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="description" content={ `I Like The Gooses 🪿 ${Astro.props.description}` } />

		<meta property="og:type" content="website" />
		<meta property="og:image" content="https://superbenjabros.com/banner.jpg" />

		<meta name="twitter:card" content="summary_large_image" />

		<link rel="canonical" href="https://superbenjabros.com" />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		background: linear-gradient(to bottom, var(--Shadow), var(--Black));

		height: 100dvh;
		margin: 0;
	}
</style>